<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="__YEAR__-__DAY__ __PART__" type="GoApplicationRunConfiguration" folderName="__YEAR__">
    <module name="aoc23" />
    <working_directory value="$PROJECT_DIR$/__YEAR__/day__DAY__/__PART__" />
    <root_directory value="$PROJECT_DIR$" />
    <kind value="FILE" />
    <package value="github.com/asymmetricia/aoc23/__YEAR__/day__DAY__/__PART__" />
    <directory value="$PROJECT_DIR$" />
    <filePath value="$PROJECT_DIR$/__YEAR__/day__DAY__/__PART__/main.go" />
    <method v="2">
      <option name="RunConfigurationTask" enabled="true" run_configuration_name="__YEAR__-__DAY__ __PART__ test" run_configuration_type="GoTestRunConfiguration" />
    </method>
  </configuration>
</component>
